TF_VAR_envname=a4t
TF_VAR_prefix_ip=192.168.120
TF_VAR_key_name=a4t
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=yyyyyyyyyyyyyyyyyyyyyyyyyyyy
TF_VAR_developer_ip=["192.168.1.1/32", "192.168.1.2/32"]
